.copyright-container {
  width: max-content;
  text-align: center;
  margin: auto;
  padding: 80px 20px;

  .social-icons {
    padding-bottom: 15px;
  }

  .cp-rights-txt {
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 3%;
    color: #3d3d3d;
    text-align: center;
    margin-top: 20px;
  }
}
